body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: navy;
    color: white;
}

/* Header CSS */

header {
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-color: cornflowerblue;
    color: white;
    font-size: xx-large;
    padding-bottom: 7px;
}

nav>a {
    text-align: left;
    background-color: cornflowerblue;
    color: white;
    font-size: large;
    padding: 5px 10px;
}

nav>a:hover {
    background-color: lightgray;
    color: navy;
}

/* About Me CSS */

#About_Me div {
    background-color:navy;
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
}


#About_Me div h1 {
    background-color: navy;
    width: 30%;
    border-right: 5px solid cornflowerblue;
    text-size-adjust: 200%;
    color: white;
    font-size: xx-large;
}

p {
    background-color: navy;
    width: 50%;
    padding: 10px 0px;
    text-align: left;
}

/* Work CSS */
#example {
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
}

#example>h1 {
    background-color: navy;
    width: 30%;
    border-right: 5px solid cornflowerblue;
    text-size-adjust: 200%;
    color: white;
    font-size: xx-large;
}

article {
    background-color: navy;
    width: 50%;
    padding: 25px 25px;
}

article div {
    position: relative;
    margin-bottom: 10px;
    border: solid 5px cornflowerblue;
}

article>div {
    height: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
}

article img {
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    transition: filter 0.3s;
}

article img:hover {
    filter: grayscale(0%);
}

.overlay {
    position: absolute;
    background-color: black;
    bottom: 10px;
    left: 0
}

article>section {
    background-color: navy;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


article section div {
    width: 45%;
}

/* Contact me CSS*/
#Contact {
    height: fit-content;
    background-color: cornflowerblue;
}
#Contact div {
    background-color:cornflowerblue;
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
}


#Contact div h1 {
    background-color: cornflowerblue;
    width: 30%;
    border-right: 5px solid cornflowerblue;
    text-size-adjust: 200%;
    color: white;
    font-size: xx-large;
}

ul {
    background-color: cornflowerblue;
    width: 50%;
    padding: 10px 0px;
}

li{
   text-align: left;
    background-color: cornflowerblue;
    color: white;
    font-size: large;
    padding: 5px 10px; 
}

/* Footer CSS*/
footer {
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    color: white;
    font-size: medium;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #example {
        flex-direction: column;
        padding: 0px 5px;
    }

    #example>h1 {
        width: 100%;
    }

    article {
        background-color: navy;
        width: 100%;
    }

    article img {
        height: 150px;
        width: 150px;
    }
}